<%= form_for(@trail) do |f| %>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :can_ride %><br>
    <%= f.check_box :can_ride %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
